<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <% title = "Store" %>
    <% page = "home" %>
    <%- include("./partials/head") -%>
    <!-- /Head -->
    <body>
        <!-- Header -->
        <%- include("./partials/header") -%>
        <!-- Header -->

        <!-- Principal -->
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="main-title">Nuestros productos</h1>
                    </div>
                    <% allProducts.forEach(product => { %>
                        <section class="col-12 col-md-6 col-lg-3">
                            <div class="product">
                                <a href="/producto/<%= product.id %>/detalle"">
                                    <article>
                                        <img src="/img/products/<%= product.image %>" alt="<%= product.name %>">
                                        <% if(product.discount != 0) {
                                            let discount = (product.price * product.discount) / 100
                                            let finalPrice = Math.round(product.price - discount)
                                        %>
                                            <div class="justify-content-between">
                                                <h2 class="product-title">$<%= toThousands(finalPrice) %></h2>
                                                <p class="py-0 m-1">- <%= product.discount %>%<br><span><%= toThousands(product.price) %></span></p>
                                            </div>
                                        <% } else { %>
                                            <div class="justify-content-between">
                                                <h2 class="product-title p-2">$<%= toThousands(product.price) %></h2>
                                            </div>
                                        <% } %>
                                    </article>
                                </a>
                            </div>
                        </section>
                    <% }) %>
                </div>
            </div>
        </main>
        <!-- /Principal -->

        <!-- Footer -->
        <%- include("./partials/footer") -%>
        <!-- /Footer -->
    </body>
</html>