<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <% title = "Nueva cuenta" %>
    <% page = "register" %>
    <%- include("./partials/head") -%>
    <!-- /Head -->
    <body>
        <!-- Header -->
        <%- include("./partials/header") -%>
        <!-- /Header -->

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title mt-0">Registrarse</h2>
                    </div>
                    <% if(typeof errors !== "undefined") { %>
                        <div class="col-12">
                            <ul>
                                <% for(let error of errors) { %>
                                    <li><%= error.msg %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                    <div class="col-12 col-md-8 m-auto">
                        <form action="/usuario/registro" method="post">
                            <div class="box p-4">
                                <div class="mb-2 item">
                                    <label class="col-12" for="name">Nombre</label>
                                    <% if(typeof data !== "undefined") { %>
                                        <input class="col-12" type="text" id="name" name="name" value="<%= data.name %>">
                                    <% } else { %>    
                                        <input class="col-12" type="text" id="name" name="name">
                                    <% } %>
                                </div>
                                <div class="mb-2 item">
                                    <label class="col-12" for="surname">Apellido</label>
                                    <% if(typeof data !== "undefined") { %>
                                        <input class="col-12" type="text" id="surname" name="surname" value="<%= data.surname %>">
                                    <% } else { %>    
                                        <input class="col-12" type="text" id="surname" name="surname">
                                    <% } %>
                                </div>
                                <div class="mb-2 item">
                                    <label class="col-12" for="email">Correo</label>
                                    <% if(typeof data !== "undefined") { %>
                                        <input class="col-12" type="email" id="email" name="email" value="<%= data.email %>">
                                    <% } else { %>
                                        <input class="col-12" type="email" id="email" name="email">
                                    <% } %>
                                </div>
                                <div class="mb-2 item">
                                    <label class="col-12" for="password">Contraseña</label>
                                    <input class="col-12" type="password" id="password" name="password">
                                </div>
                                <div class="mb-3 item">
                                    <label class="col-12" for="r-pass">Confirmar contraseña</label>
                                    <input class="col-12" type="password" id="r-pass" name="r-pass">
                                </div>
                                <div class="item">
                                    <button type="submit">Crear usuario</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include("./partials/footer") -%>
        <!-- /Footer -->
    </body>
</html>